/* Name: Aeryn Mitchell
Date: 02/08/24
File Name:style.css */
body, header, nav, main, footer, img, h1, h3{
    margin: 0;
    padding: 0;
    border: 0;
    border: 0;
    max-width: 100%;
    display: block; 
}
head{
    margin: 0em;
    padding: 0em;
    border: 0em;
   
}


img{
    max-width: 100%;
    max-height: 50%;

    display: block;
}
Body{
    margin: 0em;
    padding: 0em;
    border: 0em;
}

main{
     margin: 0em;
    padding: 0em;
    border: 0em;
}

main img{
    border-radius: 12px;
    padding: 6px;
    
}

div{
     margin: 0em;
    padding: 0em;
    border: 0em;
}
/*style rules for nav*/

nav{
     margin: 5em 3em 0 0;
    padding: 0em;
    border: 0em;
    float: center; 
    
    width: 100%;
    text-align: center;
}

nav ul{
    list-style-type:none;
    margin:0;
   
    background-color: green;
}

nav li{
    display: inline-block;
    font-size: 1.5em; 
    font-family: protest riot, sans-serif;
    font-weight: bold;
    background-color: green;
    max-width: 100%;
    
}
nav li a:hover{
   background-color:black;
}
nav li a{
    display:block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: green;
}
/* Style rules for contact page */


#map {
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.content{
    font-style: normal;
    font-family: sans-serif;
    padding-top: 50%;
    padding-right: 10em;
}

#contact-info {
    width: 100%;
margin: auto;
text-align: center; 
color: black;
font-weight:bold;
font-style: normal;
padding-bottom: 5%;
clear: left;
text-decoration: none; 
color: black;
    
}

h1{
    font-size: 10em;
    color: black;
    margin-top: 20%;
    text-align: center;
    font-family: protest riot, sans-serif;``
    width: 80%;
    margin: auto;
}
.mobile h1 {
    font-size: 4em;
}

h2{
    text-align: center;
    font-size: 5em;
}

.action{
    color: black;
    font-size: 3em;
    font-weight: bold;
    
}
.Section{
     max-width: 25%;
   Border-radius: 6px;
   float: left;
    Margin:50px;
    text-align: center;
    text-decoration: bold;
    
}
.Section:hover{
    background-color: gray;
}
/*style rules for tab-desk top*/


Main a {
    float:center;
}
/*style rules for mobile elements*/

.mobile {
    display: block;
    max-width: 100%;
}

.mobile ul {
    text-align: center;
    display: block;
}
.moble a {
    color: black;
    font-weight:bold;
    font-style: normal;
    display: inline-block;
    padding-left: 10em;
    padding-bottom: 30%;
    font direction: none;
    
}

/* style rules for gmail link*/

.link {
    text-decoration: none; 
    color: black;
    
}

.link:focus {
    color: black;
}

.link:hover {
    color:grey;
}


div li{
    font-size: 3em;
}
*{
    box-sizing: border-box;
}
/*style for two columns */
.column {
  float: left;
  width: 50%;
  Padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*Rules for my footer */
footer { 
width: 100%;
margin: auto;
text-align: center; 
color: black;
font-weight:bold;
font-style: normal;
padding-bottom: 5%;
Background-color: green;
clear: left;
}

/* Media Query for Large Desktop Viewport */
@media screen and (min-width: 1921px) {
     body {
        background-image: linear-gradient(grey, white)
    }
}
/* Media Query for Desktop Viewport */
@media screen and (min-width: 768px) {
     body { 
         background-color:whitesmoke;
    }
    #map-link {
        display: none;
    }
}


/* Media Query for mobile Viewport */
@media screen and (max-width: 480px) {
     body {
         background-color:antiquewhite; 
    }
    
    .tab-desk{
        display: none;
    }
    
 .column {
     clear:left;
         
}
    .Section {
        clear:left;
    }
    #map{
        display:none ;
    }
    #map-link {
        text-align: center;
    }
}
    






