/* Name: Aeryn Mitchell
Date: 02/08/24
File Name:style.css */
body, header, nav, main, footer, img, h1, h3{
    margin: 0;
    padding: 0;
    border: 0;
    border: 0;
    max-width: 100%;
    display: block; 
}
head{
    margin: 0em;
    padding: 0em;
    border: 0em;
   
}

header{
}

h1 {
    font-family: protest riot, sans-serif;
    max-width: 100%;
}

img{
    max-width: 100%;
    max-height: 50%;

    display: block;
}
Body{
    margin: 0em;
    padding: 0em;
    border: 0em;
}

main{
     margin: 0em;
    padding: 0em;
    border: 0em;
}

main img{
    max-height: 50%;
    max-width: 50%;
    border-radius: 6px;
}

div{
     margin: 0em;
    padding: 0em;
    border: 0em;
}
/*style rules for nav*/

nav{
     margin: 5em 3em 0 0;
    padding: 0em;
    border: 0em;
    float: center; 
    
    width: 100%;
    text-align: center;
}

nav ul{
    list-style-type:none;
    margin:0;
   
    background-color: green;
}

nav li{
    display: inline-block;
    font-size: 1.5em; 
    font-family: protest riot, sans-serif;
    font-weight: bold;
    background-color: green;
    max-width: 100%;
    
}
nav li a{
    display:block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: green;
}
    
footer {
    margin: 0em;
    padding: 0em 0em;
    border: 0em;
}
.link{
    
}

.content{
    font-style: normal;
    font-family: sans-serif;
    padding-top: 50%;
    padding-right: 10em;
}

h1{
    font-size: 10em;
    color: black;
    margin-top: 20%;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 5em;
}

.action{
    color: black;
    font-size: 3em;
    font-weight: bold;
    
}
/*style rules for tab-desk top*/

.tab-desk {
    display: none;
}

/*style rules for mobile elements*/

.mobile {
    display: block;
    max-width: 100%;
}

.mobile ul {
    text-align: center;
    display: block;
}
.moble a {
    color: black;
    font-weight:bold;
    font-style: normal;
    display: inline-block;
    padding-left: 10em;
    padding-bottom: 30%;
    font direction: none;
    
}

.link {
   color: black;
    font-weight:bold;
    font-style: normal;
    display: inline-block;
    padding-left: 10em;
    padding-bottom: 30%;
    text-decoration: none;
     
}
div{
    
}

div ul{
    
}

div li{
    font-size: 3em;
}